/*------------------------------------*\
    google Font
\*------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';






/*------------------------------------*\
    variable & mixin
\*------------------------------------*/
$BrBlue: #4a89dc;
$BrPink: #f75279;


@mixin Roboto {
	font-family: 'Roboto', sans-serif;
}
@mixin transition($string) {
	-webkit-transition: $string;
	   -moz-transition: $string;
	     -o-transition: $string;
			transition: $string;
	-webkit-transition: $string;
}






/*------------------------------------*\
    Universal Setting
\*------------------------------------*/

body {
	height: 100vh;

	
	.navi-wrap {
		position: fixed;
		background-color: $BrBlue;
		top: 0px;
		left: 0px;
		text-align: center;
		width: 100%;
		padding: 6px 0px;
		

		.logo-wrap {
			width: 100%;
			max-width: 980px;
			
			display: inline-block;
			text-align: left;

			h1 {
				display: inline-block;
				font-size: 18px;
				color: #fff;
				cursor: pointer;
				@include Roboto;

			}

		}
		

	}

	.main {
		width: 100%;
		height: 100%;
		
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
				align-items: center;
		-webkit-justify-content: center;
				justify-content: center;
		.cont {
			text-align: center;
			

			h2 {
				font-size: 48px;
			}
			button {
				background: $BrPink;
				border-bottom: 0px;
				@include transition(opacity 0.2s ease-in);

				&:hover {
					opacity:0.9;
					@include transition(opacity 0.2s ease-in);
				}
			}

		}
			

	}

	form {
		position: fixed;
		top: -450px;
		left: 0px;
		right: 0px;
		margin: auto; 
	}

}

