<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- ascii IE FIX -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="ad.size" content="width=715, height=1151">
    <title>BROCCOLI & CO. | Web App</title>
    <!-- css -->
	<link rel="stylesheet" type="text/css" href="./css/material.css"/>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>

</head>


<body ng-app="myApp">

    <!-- navi -->
	<div class="navi-wrap">
        <div class="logo-wrap">
            <a href="#"><h1>BROCCOLI & CO.</h1></a>
        </div>
    </div>
    <div class="main">
        <div class="cont">
            
            <h2 class="title">A better way<br/> to enjoy every day.</h2>
            <h4 class="sub">Be the first to know when we launch.</h4>
            <button class="button">Request an invite</button>
        </div>
    </div>
    
   <!--  <footer>
        <a href="http://www.polymer-project.org/" target="_blank">
            <img src="https://www.polymer-project.org/images/logos/p-logo.svg">
        </a>
        <p>
            You Gotta Love♥<a href="http://www.polymer-project.org/" target="_blank">Google</a>
        </p>
    </footer> -->

    <!-- Form -->
    <form ng-controller="FormController" ng-submit="submit()">
        <div class="group">
            <input type="text" name="name" ng-model="user.name">
            <span class="highlight"></span><span class="bar"></span>
            <label>Full Name</label>
        </div>
        <div class="group">
            <input type="email" name="email" ng-model="user.email">
            <span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
        </div>
         <div class="group">
            <input type="email">
            <span class="highlight"></span><span class="bar"></span>
            <label>Confirm Email</label>
        </div>
        
        <button type="submit" class="button buttonBlue">
            Subscribe
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>

    <!-- jquery -->
    <script type="text/javascript" src="./lib/jQuery/jquery-2.1.3.min.js"></script>
    <!-- angularjs -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="js/minify/index.js"></script>
    
    <script>

        var app = angular.module('myApp', []);
        app.controller('FormController', function($scope, $http) {
            $scope.user = {};
            $scope.submit = function() {
                var theUser = $scope.user;
                console.log(theUser);

                $http.post(
                        "https://l94wc2001h.execute-api.ap-southeast-2.amazonaws.com/prod/fake-auth",theUser
                ).then(
                    function(response) {
                        $scope.data = response.data;
                        console.log(response.data);
                    },
                    function(err) {
                        console.log("error")
                    }

                )
            }
        });
    </script>		

</body>




</html>